{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

{%block content %}
<div class="home">
    <h1>Get Fit with Personalized Workout Plans.</h1>
    <p>Get Weekly Workout Plans to Transform Your Fitness Journey.</p>
    <a href="{{ url_for('main.register') }}">Get Started</a>


  <video class="main-vid" muted autoplay loop>
        <source src="{{url_for('static', filename='img/hero.mp4')}}" type="video/mp4">
        Your browser does not support the video tag.
  </video> 
</div>

{% endblock %}